.shopping-list-item {
  position: relative;

  box-sizing: border-box;
  min-height: 40px;
  padding: 10px;

  cursor: pointer;

  border-bottom: @default-gray-border 1px solid;

  font-size: 16px;
  &:hover{
    background-color: @light;
  }
}

.shopping-list-item--checked{
  opacity: .3;
}

.shopping-list-item__title {
  display: inline-block;
}

.shopping-list-item__quantity {
  position: absolute;
  top: 0;
  right: 50px;

  height: 40px;

  font-weight: bold;
  line-height: 40px;
}

.shopping-list-item__tick {
  position: absolute;
  top: 5px;
  right: 10px;

  width: 30px;
  height: 30px;

  cursor: pointer;

  border: @neon-purple 3px solid;
  border-radius: 15px;
  background-color: @white;

  &:hover {
    background-color: @neon-purple;
  }
}

.shopping-list-item__tick--checked {
  background-color: @neon-purple;

  &:hover {
    background-color: @white;
  }
}