.product-addition {
  position: fixed;
  bottom: 20px;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  width: 100%;
}

.product-addition__input--hidden {
  display: none;
}

.product-addition__button {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  height: 46px;
  padding: 0 0 0 15px;


  color: @button-default-hover;
  font-size: 20px;

  background-color: @white;
  border: 2px solid @button-default-hover;
  border-radius: 3px;

  outline: none;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: @white;

    background-color: @button-default-hover;
  }
}

.product-addition__button-svg {
  width: 35px;
  height: 35px;
}

.product-addition__button-path {
  fill: @button-default-hover;
}

.product-addition__button:hover .product-addition__button-path,
.product-addition__button:active .product-addition__button-path,
.product-addition__button:focus .product-addition__button-path {
  fill: @white;
}

.product-addition__button-text {
  display: block;
  height: 100%;
  margin: auto;
  padding: 6px 0 0;
}