.product-addition {
  position: fixed;
  bottom: 20px;

  display: flex;
  justify-content: center;
  width: 100%;
}

.product-addition__input--hidden {
  display: none;
}

.product-addition__button {
  width: 80%;
}