.profile-link {
  width: 35px;
  padding: 6px 0 0 7px;

  color: inherit;
  text-decoration: none;
}

.profile-link:hover .profile-link__path,
.profile-link:active .profile-link__path {
  fill: @white;
}

.profile-link__svg {
  width: 23px;
  height: 23px;
}