.change_me-product-list-select{
  width: 200px;
}

.change_me-product-categories-select{
  width: 400px;
}

.change_me-overlay-product-container{
  height: 100%;
  width: 1024px;
  right: 0;
}

.change_me-overlay-product-container-inner{
  height: 100%;
  max-width: 1024px;
  right: 0;
  background-color: white;
}