.finish-auth {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding-top: 200px;

  background-color: white;
}

.finish-auth__wrapper {
  width: 320px;
}

.finish-auth__title {
  color: @button-default-hover;
}

.finish-auth__language-picker {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.finish-auth__version{
  position: absolute;
  bottom: 10px;
  left: 10px;

  width: 200px;
}