.page-header {
  //width: 300px;
  min-height: 360px;

  background-color: @default-gray-bg;
  border-right: @default-gray-border 1px solid;
}

.page-header__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 5px;
  width: 250px;
}

.page-header__navigation-list {
  width: 100%;
}

.page-header__navigation-list:not(:last-child) {
  margin-bottom: 10px;
}

.page-header__navigation-list--menu-bottom {
  margin-top: auto;
}

.page-header__add-product{
  width: 240px;
  margin: 0 5px 0 5px;
  height: 40px;
}