.product-overlay {
  right: 0;

  max-width: 1024px;
  height: 100%;
  padding: 10px 30px;

  background-color: white;

  overflow-y: scroll;

  position: fixed;
  z-index: 50;
}

.product-overlay__button-back {
  position: absolute;
  top: 0;
  left: 0;

  width: 35px;
  height: 35px;
  padding: 0;

  color: @light-gray;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    color: @dark;
  }
}

.product-overlay__inner {
  //min-width: 768px;
}

.product-overlay__inner--fixed {
  //width: 768px;
}
