// colors
@white: #ffffff;
@light: #E1E8ED;
@dark: #30404D;
@purple-light: #C274C2;
@gold-light: #FFC940;
@light-gray: #5c7080;

// neon colors
@neon-purple: #6a0098;
@neon-yellow: #ffc83a;

// temporary colors
@gray-hover: #cdd5d7;
@default-gray-bg: #E1E8ED;
@default-gray-border: #cdd5d7;

@button-default: #ffffff;
@button-color: #000000;
@button-default-hover: #30404D;
@button-color-hover: #9000d4;
@button-color-shadow-hover: #bd007b;

// boxshadow mixin from www.herlitz.nu
.boxshadow(@horizontalOffset: 0, @verticalOffset: 0, @blur: 10px, @color: #000, @opacity: 0.8, @spread: 0, @inset: false ) {
  @red: red(@color);
  @green: green(@color);
  @blue: blue(@color);

  & when (@inset = true) {
    -webkit-box-shadow: inset @horizontalOffset @verticalOffset @blur @spread rgba(@red, @green, @blue, @opacity);
    -moz-box-shadow: inset @horizontalOffset @verticalOffset @blur @spread rgba(@red, @green, @blue, @opacity);
    box-shadow: inset @horizontalOffset @verticalOffset @blur @spread rgba(@red, @green, @blue, @opacity);
  }

  & when (@inset = false) {
    -webkit-box-shadow: @horizontalOffset @verticalOffset @blur @spread rgba(@red, @green, @blue, @opacity);
    -moz-box-shadow: @horizontalOffset @verticalOffset @blur @spread rgba(@red, @green, @blue, @opacity);
    box-shadow: @horizontalOffset @verticalOffset @blur @spread rgba(@red, @green, @blue, @opacity);
  }
}